/* Navigation-Bar */

nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary);
  padding: 20px 28px;
  box-sizing: border-box;
  z-index: 1000;
}

nav.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left-links {
  display: flex;
  gap: 28px;
}

.memory-item {
  margin-right: auto;
}

nav.menu a {
  text-decoration: none;
  font-family: sans-serif;
  color: var(--bg);
  padding: 10px 14px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

nav.menu a:hover {
  background: var(--primary-dark);
}

nav.menu .memory {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--secondary);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--primary);
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-container {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .impressum {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary);
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: 0.2s ease;
}

footer .impressum:hover {
  background: var(--primary-dark);
}
