html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding-bottom: 2rem;
}

.left {
  background: #ddd;
  padding: 10px;
}

.left .history-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.middle {
  background: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.right {
  background: #ddd;
  padding: 10px;
}

.right .history-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.history-entry {
  background: white;
  margin-bottom: 10px;
  padding: 6px 8px;
}

.image-history .card {
  height: 20mm;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 7 / 6;
}

.card {
  background: #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  position: relative;
}

body {
  padding-top: 70px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.card.show img {
  opacity: 1;
}
