body {
  padding-top: 70px;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 17.5% 55% 17.5%;
  gap: 5%;
  margin: 2.5%;
}

.left {
  background: var(--card-bg);
  padding: 10px;
  border-radius: 1.5rem;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.left .history-title,
.right .history-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text);
}

.middle {
  background: var(--bg);
  padding: 10px;
}

.right {
  background: var(--card-bg);
  padding: 10px;
  border-radius: 1.5rem;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 600px;
}

.right .history-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text);
}

.history-entry {
  margin: 10px;
  background: var(--card-bg);
  margin-bottom: 10px;
  padding: 2rem;
  text-align: left;
  border-radius: 1.5rem;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.1);
  color: var(--text);
  font-size: 1.1rem;
  line-height: 1.6;
}

.image-history .card {
  height: 20mm;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  aspect-ratio: 7 / 6;
}

.card {
  background: linear-gradient(135deg, var(--primary), var(--primary-dark));
  border-radius: 1.5rem;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  position: relative;
  color: white;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  opacity: 0; /* Hide image by default */
  transition: opacity 0.3s ease; /* Smooth transition when revealed */
}

.card.show img {
  opacity: 1; /* Show image when card is revealed */
}

#history-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 4rem;
}

#treasure-list {
  max-height: 80vh;
  overflow-y: auto;
}

#refresh {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
